@model TravelPlanner.Models.ViewModeles.ItineraryModels.ItineraryDetail

@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>

<div>
    <h4>ItineraryDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
    </dl>
</div>
<div>
    @if(Model.ScheduledEvents.Count() > 0)
    {
        foreach(var s in Model.ScheduledEvents)
        {
            <h1> @s.Title </h1>
            <p>@s.Description</p>
        }
    }
    else
    {
        <p>Sorry there are no available scheduled Events</p>
    }
</div>
<div>
    
    @* @Html.ActionLink("Edit", "Edit", new {  id = Model.Id }) | *@
    <a asp-action="Index">Back to List</a>
</div>
